<p>products works!</p>
<p>hola mundo Angular</p>
<section class="products">
    <app-product [product]="product" 
    *ngFor="let product of products"></app-product>
</section>

<!-- Pipe  El cometido princiapal de los pipes es transformar data.
Los pipes reciben un dato, y pueden transformar es dato. -->
<!-- <pre>
    {{ products | json }}

</pre> -->

<!-- tipos de directivas
    Una directiva puede cambiar la apariencia o el comportamiento del DOM element
    Estructurales
    De atributos
    Directivas Customs
    Componentes - son directivas con template



-->
